version: '3'
services:
  nextapp:
    build: .
    container_name: nextapp
    restart: always
    ports:
      - "3000:3000"

  nginx:
    image: nginx
    container_name: nginx
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - nextapp
